<section class="const container-fluid  p-5 ">


    <div class="row">
        <div class="col-md-4">
            <div class="text-center p-5">
                <h2>LOCATION</h2>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>

            </div>

        </div>
        <div class="col-md-4">
            <div class="text-center p-5">
                <h2>AROUND THE WEB</h2>
                
                    <i class="cur icons p-2 rounded-circle fa-brands fa-facebook-f"></i>
                    <i class="cur icons p-2 rounded-circle fa-brands fa-twitter ms-2"></i>
                    <i class="cur icons p-2 rounded-circle fa-brands fa-linkedin-in ms-2 me-2"></i>
                    <i class="cur icons p-2 rounded-circle fa-solid fa-globe"></i>
    
            </div>

        </div>
        <div class="col-md-4">
            <div class="text-center p-5">
                <h2>ABOUT FREELANCER</h2>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                

            </div>

        </div>
    </div>


</section>
