<section class="container text-center p-3 mb-5 position-relative">
    <h1 class="fw-bold">CONATCT SECTION</h1>
    <i class="fa-solid fa-star p-3"></i><br>
    <form action="" class="p-5 text-center">

    <input type="text" class="w-50 input p-3 mb-4" placeholder="user name"><br>
    <input type="number" class="w-50 input p-3 mb-4" placeholder="user Age"><br>
    <input type="email" class="w-50 input p-3 mb-4" placeholder="user email"><br>
    <input type="password" class="w-50 input p-3 mb-3" placeholder="user name"><br>


     
        <button class="btn btn-primary"> send massage </button>
     
    

    </form>
    
    
    
  
        
          
    

</section>
