<section class="container p-2 text-center ">
    <h1 class="fw-bold">PORTFOLIO COMPONENT</h1>
    <i class="fa-solid fa-star p-3"></i>
    <div class="row">
        <div class="col-md-4 p-2 cur">
            <figure class=" items position-relative">
                <img src="assets/picture/ass pic1.png" alt="..." class="w-100 rounded-3 shadow-sm">
                <figcaption
                    class="layer  d-flex justify-content-center align-items-center rounded-3">
                        <i class=" fs-1 fw-bold fa-solid fa-plus ico"></i>
                      
                </figcaption>

            </figure>
        </div>
        <div class="col-md-4 p-2 cur ">
            <figure class=" items position-relative">
                <img src="assets/picture/ass pic2.png" alt="..." class="w-100 rounded-3 shadow-sm">
                <figcaption
                    class="layer  d-flex justify-content-center align-items-center rounded-3">
                        <i class=" fs-1 fw-bold fa-solid fa-plus ico"></i>
                      
                </figcaption>

            </figure>
        </div>
        <div class="col-md-4 p-2 cur">
            <figure class=" items position-relative">
                <img src="assets/picture/ass pic3.png" alt="..." class="w-100 rounded-3 shadow-sm">
                <figcaption
                    class="layer  d-flex justify-content-center align-items-center rounded-3">
                        <i class=" fs-1 fw-bold fa-solid fa-plus ico"></i>
                      
                </figcaption>

            </figure>
        </div>
        <div class="col-md-4 p-2 cur gy-3">
            <figure class=" items position-relative">
                <img src="assets/picture/ass pic1.png" alt="..." class="w-100 rounded-3 shadow-sm">
                <figcaption
                    class="layer  d-flex justify-content-center align-items-center rounded-3">
                        <i class=" fs-1 fw-bold fa-solid fa-plus ico"></i>
                      
                </figcaption>

            </figure>
        </div>
        <div class="col-md-4 p-2 cur gy-3">
            <figure class=" items position-relative">
                <img src="assets/picture/ass pic2.png" alt="..." class="w-100 rounded-3 shadow-sm">
                <figcaption
                    class="layer  d-flex justify-content-center align-items-center rounded-3">
                        <i class=" fs-1 fw-bold fa-solid fa-plus ico"></i>
                      
                </figcaption>

            </figure>
        </div>
        <div class="col-md-4 p-2 cur gy-3">
            <figure class=" items position-relative">
                <img src="assets/picture/ass pic3.png" alt="..." class="w-100 rounded-3 shadow-sm">
                <figcaption
                    class="layer  d-flex justify-content-center align-items-center rounded-3">
                        <i class=" fs-1 fw-bold fa-solid fa-plus ico"></i>
                      
                </figcaption>

            </figure>
        </div>
       
    </div>

</section>
